---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const projetos = await getCollection('projetos');
---

<Layout>
	<section class="grid gap-8">
		<h1 class="text-4xl">Projetos</h1>
		<ul class="grid grid-cols-2 gap-8">
			{
				projetos.map((projeto) => (
					<>
						<li class="group w-full rounded-xl border-2 border-transparent transition duration-200 ease-in-out hover:border-green-700">
							<a href={`/projetos/${projeto.slug}/`}>
								<div class="space-y-4 p-4">
									<h2 class="text-2xl font-bold group-hover:text-green-700">{projeto.data.title}</h2>
									<p>{projeto.data.description}</p>
								</div>
							</a>
						</li>
					</>
				))
			}
		</ul>
	</section>

	<section class="grid gap-8">
		<h1 class="text-4xl">Projetos</h1>
		<ul class="grid grid-cols-2 gap-8">
			{
				projetos.map((projeto) => (
					<>
						<li class="group w-full rounded-xl transition duration-200 ease-in-out">
							<a href={`/projetos/${projeto.slug}/`}>
								<img
									src={projeto.data.heroImage}
									alt=""
									class="w-full rounded-xl"
								/>
								<div class="space-y-4 p-4">
									<h2 class="text-2xl font-bold group-hover:text-green-700">{projeto.data.title}</h2>
									<p>{projeto.data.description}</p>
								</div>
							</a>
						</li>
					</>
				))
			}
		</ul>
	</section>
</Layout>
