---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('projetos')).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<Layout>
	<section class="grid gap-8">
		<h1 class="text-4xl">Projetos</h1>
		<ul class="flex flex-wrap gap-8">
			{
				posts.map((post) => (
					<li class="w-[calc(50%_-_1rem)] rounded-xl">
						<a
							href={`/projetos/${post.slug}/`}
							class="group transition duration-200 ease-in-out"
						>
							<img
								src={post.data.heroImage}
								alt=""
								class="rounded-xl"
							/>
							<div class="py-2 pl-4">
								<h2 class="text-2xl font-bold group-hover:text-green-700">{post.data.title}</h2>
								<p>{post.data.description}</p>
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</section>

	<section class="grid items-center justify-center gap-8">
		{
			posts.map((post) => (
				<Card
					title={post.data.title}
					description={post.data.description}
					slug={post.slug}
				/>
			))
		}
	</section>
</Layout>
