---
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
	return [{ params: { lang: 'en-US' } }, { params: { lang: 'pt-BR' } }];
}

let { currentLocale } = Astro;
currentLocale = currentLocale as 'pt-BR' | 'en-US';

const { t } = Astro.locals;

const allProjects =
	currentLocale === 'pt-BR' ? await Astro.glob('@projetos/pt-BR/*.md') : await Astro.glob('@projetos/en-US/*.md');
---

<Layout>
	<section class="grid gap-8">
		<h1 class="text-4xl font-bold">{t.projects.title}</h1>
		<p>{t.projects.sub}</p>
		<ul class="grid grid-cols-2 gap-8">
			{
				allProjects.map((projeto) => (
					<>
						<li class="group w-full rounded-xl border-2 border-transparent transition duration-200 ease-in-out hover:border-green-500">
							<a href={projeto.file.split('/').pop()?.slice(0, -3)}>
								<div class="space-y-4 p-4">
									<h2 class="text-2xl font-bold group-hover:text-green-500">{projeto.frontmatter.title}</h2>
									<p>{projeto.frontmatter.description}</p>
								</div>
							</a>
						</li>
					</>
				))
			}
		</ul>
	</section>

	<section class="grid gap-8">
		<h1 class="text-4xl">Projetos</h1>
		<ul class="grid grid-cols-1 gap-8 md:grid-cols-2">
			{
				allProjects.map((projeto) => (
					<>
						<li class="group w-full rounded-xl transition duration-200 ease-in-out">
							<a href={projeto.file.split('/').pop()?.slice(0, -3)}>
								<img
									src={projeto.frontmatter.heroImage}
									alt=""
									class="w-full rounded-xl"
								/>
								<div class="space-y-4 p-4">
									<h2 class="text-2xl font-bold group-hover:text-green-500">{projeto.frontmatter.title}</h2>
									<p>{projeto.frontmatter.description}</p>
								</div>
							</a>
						</li>
					</>
				))
			}
		</ul>
	</section>
</Layout>
