---
import { SITE_TITLE } from '@src/consts';
import { getRelativeLocaleUrl } from 'astro:i18n';

import HeaderLink from './HeaderLink.astro';
import LangSelect from './LangSelect.astro';
import ThemeToggle from './ThemeToggle.astro';

let { currentLocale } = Astro;
currentLocale = currentLocale as 'pt-BR' | 'en-US';

const { t } = Astro.locals;
---

<div class="border-b border-black py-3 dark:border-white">
	<header class="grid grid-cols-[repeat(3,_auto)] items-center px-2 lg:px-12">
		<a
			href={getRelativeLocaleUrl(currentLocale, '/', { normalizeLocale: false })}
			class="hidden items-center gap-1 justify-self-start px-4 py-2 lg:flex"
		>
			<img
				src="/lospampa.png"
				alt=""
				width={32}
				height={32}
			/>
			<h1 class="font-bold">{SITE_TITLE}</h1>
		</a>
		<div class="hidden space-x-2 justify-self-center lg:block">
			{
				Object.entries(t.headerLinks).map(([key, value]) => (
					<HeaderLink href={getRelativeLocaleUrl(currentLocale, key, { normalizeLocale: false })}>{value}</HeaderLink>
				))
			}
		</div>
		<button
			class="justify-self-start p-3 lg:hidden"
			id="nav-button-open"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-menu"
				><line
					x1="4"
					x2="20"
					y1="12"
					y2="12"
				></line><line
					x1="4"
					x2="20"
					y1="6"
					y2="6"
				></line><line
					x1="4"
					x2="20"
					y1="18"
					y2="18"
				></line></svg
			>
			<span class="s-only">Open navigation menu</span>
		</button>
		<a
			href={getRelativeLocaleUrl(currentLocale, '/', { normalizeLocale: false })}
			class="flex items-center justify-self-center p-2 lg:hidden"
		>
			<img
				src="/lospampa.png"
				alt=""
				width={32}
				height={32}
			/>
			<span class="sr-only">Home</span>
		</a>

		<div class="flex gap-3 justify-self-end">
			<ThemeToggle />
			<LangSelect currentLang={currentLocale} />
		</div>
	</header>
</div>

<div
	class="hidden"
	role="dialog"
	aria-modal="true"
	id="mobile-nav"
>
	<!-- Background backdrop, show/hide based on slide-over state. -->
	<div class="fixed inset-0 z-10"></div>
	<div
		class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 dark:bg-emerald-950 lg:max-w-sm lg:ring-1 lg:ring-gray-900/10"
	>
		<div class="grid grid-cols-3">
			<button
				class="justify-self-start p-3"
				id="nav-button-close"
				name="nav-button-close"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
				>
			</button>
			<div>
				<a
					href={getRelativeLocaleUrl(currentLocale, '/', { normalizeLocale: false })}
					class="flex items-center gap-1"
				>
					<img
						src="/lospampa.png"
						alt=""
						width={32}
						height={32}
					/>
					<h1 class="font-bold">{SITE_TITLE}</h1>
				</a>
			</div>
		</div>

		<nav class="mt-12 flex flex-col gap-4">
			{
				Object.entries(t.headerLinks).map(([key, value]) => (
					<HeaderLink href={getRelativeLocaleUrl(currentLocale, key, { normalizeLocale: false })}>{value}</HeaderLink>
				))
			}
		</nav>
	</div>
</div>

<script>
	const navButtonOpen = document.getElementById('nav-button-open');
	const navButtonClose = document.getElementById('nav-button-close');
	const nav = document.getElementById('mobile-nav');

	if (!navButtonOpen || !navButtonClose || !nav) throw new Error('Element not found');

	navButtonOpen.addEventListener('click', () => {
		nav.classList.remove('hidden');
	});

	navButtonClose.addEventListener('click', () => {
		nav.classList.add('hidden');
	});
</script>
