---
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
	return [{ params: { lang: 'en-US' } }, { params: { lang: 'pt-BR' } }];
}

const { t } = Astro.locals;
---

<Layout>
	<section class="mx-auto flex flex-col items-center gap-6 lg:flex-row">
		<img
			src="/lospampa.png"
			alt="lospampa logo"
		/>
		<div>
			<h1 class="text-center text-4xl">{t.hero.title}</h1>
			<p class="hidden text-center lg:block">
				{t.hero.sub}
			</p>
			<p class="text-center lg:hidden">
				{t.hero.sub.split(' | ')[0]}
				<br />
				{t.hero.sub.split(' | ')[1]}
			</p>
		</div>
	</section>
	<section>
		<h2 class="text-2xl">{t.currentAreas.title}</h2>
		<ul class="mt-4 list-disc">
			{t.currentAreas.areas.map((area: string) => <li>{area}</li>)}
		</ul>
	</section>
	<section>
		<p>
			{t.idk}
		</p>
	</section>
</Layout>
