---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import LinkButton from '../components/LinkButton.astro';

type Props = CollectionEntry<'projetos'>['data'];

const { title, description, links, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead
			title={title}
			description={description}
		/>
	</head>

	<body>
		<Header />
		<main class="grid place-items-center pb-12">
			<article>
				<div class="grid place-items-center">
					{
						heroImage && (
							<img
								src={heroImage}
								width={900}
								alt="Imagem Foda"
							/>
						)
					}
				</div>
				<div class="space-y-6 py-16">
					<h1 class="text-8xl font-bold">{title}</h1>
					<p>{description}</p>
					<hr />
					<div class="flex gap-8">
						{
							links?.map(({ name, url }) => (
								<LinkButton
									name={name}
									url={url}
								/>
							))
						}
					</div>
				</div>
				<div class="prose prose-stone prose-xl px-12">
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
