---
import type { CollectionEntry } from 'astro:content';
import LinkButton from '@components/LinkButton.astro';
import Layout from '@layouts/Layout.astro';

type Props = CollectionEntry<'projetos'>['data'];

const { title, description, links, heroImage } = Astro.props;
---

<Layout>
	<article>
		<div class="grid place-items-center">
			{
				heroImage && (
					<img
						src={heroImage}
						width={600}
						alt="Imagem Foda"
					/>
				)
			}
		</div>
		<div class="space-y-6 py-16">
			<h1 class="text-8xl font-bold">{title}</h1>
			<p>{description}</p>
			<hr />
			<div class="flex gap-8">
				{
					links?.map(({ name, url }) => (
						<LinkButton
							name={name}
							url={url}
						/>
					))
				}
			</div>
		</div>
		<div class="prose prose-xl prose-neutral px-12 dark:prose-invert">
			<slot />
		</div>
	</article>
</Layout>
